*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 nav {
    width: 100%;
    padding : 0.625rem  5%;
display: flex; 
align-items: center;
box-shadow: 0rem 0.125rem 1.25rem rgb(210,233,238); 
background: #fff;
position: fixed;
top: 0;
left: 0;
z-index: 1000; 
} 

 nav img{
    height: auto;
    width: 5rem;
 }
 nav ul{
     display:flex;
    list-style:none;
    gap: 50px;
    /*Scroll margin أعلى لكل الأقسام حتى لا يغطيها الـ nav الثابت */
 }
 #home,
#about,
#Featured,
#arrivals,
#reviews,
#blog {
  scroll-margin-top: 120px; /* عدّلي الرقم حسب ارتفاع الـ nav */
}
html {
  scroll-behavior: smooth;
    gap:25px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    backdrop-filter: blur(10px);
}
nav ul li a{
    text-decoration:none;
    color:#000;
    font-size:1.125rem;
}


.icon{
    margin-left:auto;
    display:flex;
    gap:15px;
    font-size:20px;
    align-items:center;
}

.hamburger {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}
label .open,
label .close{
    font-size:26px;}
 /* header for css */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-image: url("image/bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 40px 0;              
}
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 120px auto 50px auto;        
  padding: 20px;
  min-height: 400px;
}


 .main-text {
  flex: 1 1 400px;
  text-align: left;
  color: #444;

}
.main-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.book {
  color: #0bb5b5;
  margin-bottom: 25px;
}

.main-text p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 450px;
  margin: 0 0 25px 0;            
}

.button {
  background: #0bb5b5;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
}

  
.main-image img {
  width: 22rem;
  max-width: 100%;
  margin-top: -30px;
  display: block;
}
/*sectio#1css*/
.services-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;     
    align-items: flex-start;
    flex-wrap: wrap;             
    gap: 25px;                   
}

.services-card {            
    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 8px #089da1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 14.375rem;
    padding: 1.25rem 1rem;
}

.services-card:hover {
    transform: translateY(-5px);
}

.services-card i {
   font-size: 2.8rem;
    color: #089da1;
    margin-bottom: 10px;
}

.services-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.services-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

/*about*/
.about{
width: 100%;
height: auto;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
.about .about-image img{
width:90%;
max-width: 300px;
margin-bottom: 20px ;
}
.about .about-tag p{
line-height: 1.5;
width: 100%;
max-width: 650px;
text-align: justify;
word-break: break-word;
overflow-wrap: break-word;
margin: 0 auto 15px auto;
}
.about .about-tag .about-btn{
padding: 10px 20px;
background-color: #089da1;
text-decoration: none;
color: #fff;
display: inline-block;
margin: 0 auto;
}
/* Featured Books */
.featured_book {
  width: 100%;
  padding: 2em;
  margin-bottom: 3em;
}

.featured_book h2 {
  margin-bottom: 2em;
}

.featured_book .container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  margin-bottom: 4em;
}

.featured_book .container .book_item {
  flex: 0 0 auto;
  border: 1px solid #969696;
  text-align: center;
  margin: 2em 0.5em;
  transition: box-shadow 0.3s ease;
}

.featured_book .container .book_item img {
  width: 8em;
  height: 12em;
  margin: 0.5em 2em;
  text-align: center;
}

.featured_book .container .book_item h4 {
  color: black;
  margin-bottom: 0.5em;
}

.featured_book .container .book_item h6 {
  color: #b2b2b2;
  margin-bottom: 0.5em;
}

.featured_book .container .book_item h5 {
  color: lightseagreen;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
}

.featured_book .container .book_item:hover {
  border: 1px solid #089da1;
  box-shadow: 0 0 0.5em #089da1;
}
body:has(option[value="dark"]:checked){
    background-color: black;
    color: white;
}
/* -------- New Arrivals Section -------- */

.new-arrivals-section {
    text-align: center;
    padding: 50px 0;
}

.section-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: #222;
    font-weight: bold;
}

.books-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.book-card {
    border: 1px solid #dcdcdc;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    transition: 0.3s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 8px 8px 0 0 ;
}

.book-category {
    font-size: 15px;
    margin: 10px 0;
    color: #444;
}

.stars {
    color: #00bcd4;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-learn {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #089da1;
    color: #089da1;
    background-color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.btn-learn:hover {
    background-color: #089da1;
    color: #fff;
}
/* review style */
.section-title{

    text-align:center;
font-size: 32px;
margin-top: 40px;
margin-bottom: 20px;
font-weight: bold;

}

.reviews-container{
width:90%;
margin:auto;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 25px;

}

.review-card{
background: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px #ccc;

}

.review-img{
width: 60px;
height: 60px;
border-radius: 50%;
}

.review-name{
margin: 10px 0;
font-size:20px ;
font-weight: bold;

}

.review-text{
font-size: 14px;
color: #555;


}
.stars2{
margin-top: 10px;
color: #00A8E8;
font-size: 20px;

}
.digital-book{
margin-top:60px ;
width: 100%;
height: 350px;
display: flex;
align-items:center ;
background-image:url(images/banner.jpg);
background-size:cover;
background-position: center center;
background-repeat: no-repeat;
padding-left: 120px;
justify-content:flex-start ;
position: relative;


}

.digital-book  .learn-btn{
left:80px;
position: absolute;
bottom: 28px;
background:#089da1 ;
color:white;
padding: 12px 28px;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
z-index: 5;
box-shadow: 0 4px 10px rgba(0,0,0,0.15);

}
/*end page 2 */

*{box-sizing: border-box;}


.blog-section{
width:90%;
margin:40px auto ;
text-align: center;

}

.blog-title{
font-size:34px;
margin-bottom: 40px;
font-weight: 700;
margin: 36px 0 20px;
font-family: "Segoe UI" Tahoma,Arial, sana-serif;

}

.blog-container{
width:92%;
max-width :1200px; ;
margin: 0 auto;
}

.blog-container::after{
content: "";
display: table;
clear: both;
}

.blog-card{
width:calc(33.333% - 20px);
float:left;
margin: 0 10px 30px;
border: 1px solid #e9e9e9;
border-radius: 4px;
box-shadow: 0px 6px 18px rgba(12,40,50,0.06);
overflow: hidden;
display: flex;
flex-direction: column;
padding-bottom: 10px;
}

.blog-card:nth-child(3n){

margin-right: 0;

}

.blog-img{
width: 100%;
height: 220px;
object-fit: cover;
display: block;
}

.blog-name{
padding: 12px 10px;
font-size: 18px;
color: #089da1;
margin: top 1px;
font-weight: 700;
text-align: left;

}

.blog-text{
padding:0 10px ;
font-size: 14px;
color:#212121;
line-height: 1.5;
flex:1;
margin: 0;



}

.blog-icons{
padding: 10px;

display:flex;
justify-content: space-between;

}

.blog-icons i{
font-size: 20px;
margin-right: 10px;
color: #089da1;

}