*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width:100%;
    height: 100vh;
    background-image: url(image/bg.png);
    background-size: cover;
    background-position: center;
}
 section nav {
    width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
box-shadow: 0 0 0.625rem #089da1; 
background: #fff;
position: fixed;
left: 0;
z-index: 100; 
} 
 section nav ul{
    display: flex;
    list-style: none;
    gap: 1.5625rem;
}
 section  ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
section nav.logo.img{
   width: 100%;
   cursor: pointer;
   margin: 0.5rem 0;;

 }
.logo img {
 width:  30%;;
}
section nav ul{
    list-style: none;
}
section nav li{
    display: inline-block;
    padding:  0 0.625rem;
}
section nav li a{
    text-decoration: none;
    color: #000;
}
section nav .li a:hover{
    color: #089da1;
} 
section nav.social_icon i{
    margin:0.3125rem;
    font-size: 1.125rem;
}
section nav.social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}