*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width:100%;
    height: 100vh;
    background-image: url(image/bg.png);
    background-size: cover;
    background-position: center;
}
 section nav {
    width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
box-shadow: 0 0 0.625rem #089da1; 
background: #fff;
position: fixed;
left: 0;
z-index: 100; 
} 
 section nav ul{
    display: flex;
    list-style: none;
    gap: 1.5625rem;
}
 section  ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
section nav.logo.img{
   width: 100%;
   cursor: pointer;
   margin: 0.5rem 0;;

 }
.logo img {
 width:  30%;;
}
section nav ul{
    list-style: none;
}
section nav li{
    display: inline-block;
    padding:  0 0.625rem;
}
section nav li a{
    text-decoration: none;
    color: #000;
}
section nav .li a:hover{
    color: #089da1;
} 
section nav.social_icon i{
    margin:0.3125rem;
    font-size: 1.125rem;
}
section nav.social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}
section main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}
section .main h1{
   font-size: 3.5rem;;
   color: #000;
}
section .main h1 span{
    color: #089da1;
}
section .main p{
    width: 650px;
    line-height: 22px;
    text-align: justify;
    margin: 20px 0;
}
section .main .main_btn{
    background: #089da1;
    padding: 0.625rem 1.25rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
/* services */ 

.services{
margin: 2.5rem 0;
width: 100%;
height: auto;
}
.services .servicesbox{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.services.servicesbox.servicescard{
    width: 20rem;
    text-align: center;
    height: auto;
    box-shadow:  0 0 0.5rem #089da1;
    padding:  1rem 0.7rem;
    margin: 1rem;
}
.services.servicesbox.servicescard i{
color: #089da1;
font-size: 3rem;
margin-bottom: 1rem;
cursor: pointer;
}
.services.servicesbox.servicescard h3{
    margin-bottom: 0.7rem;
}